<div class="television-list-container">

    <h2>Television List</h2>
    <table class="television-table">
        <thead>
            <tr>
                <th>Model</th>
                <th>Date</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let television of televisions">
                <td>{{ television.model }}</td>
                <td>{{ television.date | date }}</td>
                <td>{{ television.price }}</td>
            </tr>
        </tbody>
    </table>
</div>